<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Franki no Aniki </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='franki.css')}}">
    <img src="images/Law.png">


</head>
<body>
    <section class="top">
        <nav class ="menu">
            <li><a href="Connexion">Connexion</a></li>
            <li><a href="balance">Balance</a></li>
            <li><a href="http://localhost:5500/sms.html">SmS</a></li>
        </nav>

    </section>
    <p></p>


    <h1><marquee> Bienvenue sur la page d'acceuille de Franki No Aniki</marquee></h1>


    <div class="middle-page">
        <div class="connexion">
            <div>
                <label for="login">Login</label>
                <input type="text" id="login" name="login" placeholder="Login">

            </div>
            <div>
                <label for="pass">Password</label>
                <input type="password" id="Pass" name="password" placeholder="Password">

            </div>
            <div>
                <input type="submit" id="connexion" value="connexion">
            </div>


        </div>

    </div>


</body>
</html>